In [1]:
dataset = ''
#dataset1 = dataset
from pathlib import Path
output_root = Path("result")
dirs = [fld for fld in output_root.glob(f'{dataset}-*')]

In [2]:
import pandas as pd

from lenskit import util
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from lenskit.datasets import MovieLens
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.model_selection import RandomizedSearchCV
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
import matplotlib.pyplot as plt
from statsmodels.graphics.gofplots import qqplot
from scipy.stats import shapiro
from scipy.stats import friedmanchisquare, wilcoxon
from itertools import combinations
from lenskit import util

     item  weight_vector     weight    difference
0     296   4.200101e-02  1668.9625  -1668.920499
1     356   5.464231e-20  1618.5875  -1618.587500
2     593   8.521373e-02  1536.0500  -1535.964786
3     110   4.444190e-16  1220.6250  -1220.625000
4     260   8.774705e-01  1172.1875  -1171.310030
..    ...            ...        ...           ...
471  1221   2.083331e+04   501.8125  20331.500000
472   527   2.337725e+04  1149.3250  22227.925000
473    50   3.671450e+04   994.3250  35720.175000
474   858   6.705200e+04   867.2250  66184.775000
475   318   7.943000e+04  1667.4125  77762.587500

[476 rows x 4 columns]

In [ ]:
output_root = Path("result")

In [ ]:
dirs = [fld for fld in output_root.glob(f'{dataset}-*')]

In [ ]:
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.width', 1000)

In [ ]:
movies = pd.read_csv(r'C:\Users\srabantiguha\lk-demo-experiment\data\ml-20m\movies.csv')
movies = movies[['movieId','genres']]
movies = movies.join(movies.pop('genres').str.get_dummies('|'))
movies.rename({'movieId': 'item'}, axis=1, inplace=True)
movies

In [ ]:
dirs = [fld for fld in output_root.glob(f'{dataset}-*')]
dirs

In [ ]:
def calc_new_col(row):
    
    if row <= a :
        return 'underexposed'
    
    elif row>= b:
        return 'overexposed'
    
    else:
        return 'Neutral'

In [3]:
# df = pd.read_csv(r'C:\Users\srabantiguha\lk-demo-experiment\result\Rbp-III')
# df

In [4]:
df = df[['item','difference']]

In [5]:
df['difference'].describe()

count      476.000000
mean       470.372702
std       5252.131206
min      -1668.920499
25%        -74.496875
50%        -20.149996
75%         -4.940625
max      77762.587500
Name: difference, dtype: float64

In [6]:
a = df.difference.quantile(0.25) 
a

-74.49687500000024

In [7]:
b = df.difference.quantile(0.75) 
b

-4.940624988823369

In [8]:
def calc_new_col(row):
    
    if row <= -50 :
        return 'underexposed'
    
    elif row>=50:
        return 'overexposed'
    
    else:
        return 'Neutral'

df["category"] = df['difference'].apply(lambda x: calc_new_col(x))

In [9]:
df

     item    difference      category
0     296  -1668.920499  underexposed
1     356  -1618.587500  underexposed
2     593  -1535.964786  underexposed
3     110  -1220.625000  underexposed
4     260  -1171.310030  underexposed
..    ...           ...           ...
471  1221  20331.500000   overexposed
472   527  22227.925000   overexposed
473    50  35720.175000   overexposed
474   858  66184.775000   overexposed
475   318  77762.587500   overexposed

[476 rows x 3 columns]

In [10]:
df['category'].value_counts()

Neutral         309
underexposed    150
overexposed      17
Name: category, dtype: int64

In [11]:
movies = pd.read_csv(r'C:\Users\srabantiguha\lk-demo-experiment\data\ml-20m\movies.csv')
movies = movies[['movieId','genres']]
movies = movies.join(movies.pop('genres').str.get_dummies('|'))
movies.rename({'movieId': 'item'}, axis=1, inplace=True)

In [12]:
movies1 = movies.merge(df, on = 'item', how = 'inner')
map1 = {'underexposed':-1, 'overexposed':1, 'Neutral':0}
movies1['category'] = movies1['category'].map(map1)
movies1 = movies1.drop(columns=['item', 'difference'])

In [13]:
X = movies1.drop(columns=['category'])
y = movies1['category']

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.75, random_state=42)
X_train.shape, X_test.shape

((357, 20), (119, 20))

In [15]:
rf = RandomForestClassifier(random_state=42, n_jobs=-1)
params = {
    'max_depth': [2,3,5,10,20],
    'min_samples_leaf': [5,10,20,50,100,200],
    'n_estimators': [10,25,30,50,100,200]
}

In [16]:
grid_search = GridSearchCV(estimator=rf,param_grid=params,cv = 4,n_jobs=-1, verbose=1, scoring="accuracy")

In [17]:
grid_search.fit(X_train, y_train)
grid_search.best_score_

Fitting 4 folds for each of 180 candidates, totalling 720 fits

0.714294631710362

In [18]:
y_pred_test = grid_search.predict(X_test)

In [19]:
accuracy_score(y_test, y_pred_test)

0.5966386554621849

In [20]:
rf_best = grid_search.best_estimator_
rf_best

RandomForestClassifier(max_depth=10, min_samples_leaf=5, n_jobs=-1,
                       random_state=42)

In [21]:
rf_best.feature_importances_

array([0.        , 0.20075718, 0.14582002, 0.02115353, 0.02961446,
       0.04894992, 0.08362297, 0.1117346 , 0.10371516, 0.03626632,
       0.02075169, 0.        , 0.00242899, 0.00070352, 0.04340622,
       0.03055639, 0.01332382, 0.05419508, 0.03868998, 0.01431015])

In [22]:
imp_df = pd.DataFrame({
    "Varname": X_train.columns,
    "Imp": rf_best.feature_importances_
})
imp_df.sort_values(by="Imp", ascending=False)

               Varname       Imp
1               Action  0.200757
2            Adventure  0.145820
7          Documentary  0.111735
8                Drama  0.103715
6                Crime  0.083623
17            Thriller  0.054195
5               Comedy  0.048950
14             Mystery  0.043406
18                 War  0.038690
9              Fantasy  0.036266
15             Romance  0.030556
4             Children  0.029614
3            Animation  0.021154
10           Film-Noir  0.020752
19             Western  0.014310
16              Sci-Fi  0.013324
12                IMAX  0.002429
13             Musical  0.000704
11              Horror  0.000000
0   (no genres listed)  0.000000

In [26]:
ml20m = MovieLens('data/ml-20m')
ml20m.tag_genome

tag,007,007 (series),18th century,1920s,1930s,1950s,1960s,1970s,1980s,19th century,...,world politics,world war i,world war ii,writer's life,writers,writing,wuxia,wwii,zombie,zombies
item,,,,,,,,,,,,,,,,,,,,,
1,0.02500,0.02500,0.05775,0.09675,0.14675,0.21700,0.06700,0.26275,0.26200,0.03200,...,0.03950,0.01800,0.04575,0.03275,0.12500,0.04150,0.01925,0.03625,0.07775,0.02300
2,0.03975,0.04375,0.03775,0.04800,0.11025,0.07250,0.04775,0.10975,0.09925,0.02050,...,0.04175,0.01925,0.01725,0.02425,0.12550,0.02250,0.01550,0.01475,0.09025,0.01875
3,0.04350,0.05475,0.02800,0.07700,0.05400,0.06850,0.05600,0.18500,0.04925,0.02675,...,0.04150,0.02675,0.02775,0.03425,0.15550,0.03675,0.01700,0.01950,0.09700,0.01850
4,0.03725,0.03950,0.03675,0.03100,0.06825,0.04050,0.02325,0.08700,0.05125,0.03025,...,0.05750,0.03375,0.02275,0.03975,0.18525,0.05925,0.01500,0.01525,0.06450,0.01300
5,0.04200,0.05275,0.05925,0.03675,0.07525,0.12525,0.02850,0.08500,0.02950,0.02875,...,0.04250,0.02825,0.02150,0.02600,0.14275,0.02075,0.01650,0.01675,0.10750,0.01825
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130578,0.15400,0.04025,0.01975,0.01850,0.02850,0.02275,0.01000,0.03675,0.01025,0.01575,...,0.02875,0.01125,0.01250,0.02050,0.21000,0.02375,0.04225,0.00525,0.07575,0.01325
130840,0.02400,0.03025,0.02425,0.09375,0.05600,0.06025,0.02100,0.12900,0.11275,0.03650,...,0.02125,0.04250,0.01025,0.20350,0.47675,0.10775,0.06200,0.00775,0.27000,0.13375
131013,0.04200,0.03175,0.01700,0.05600,0.05750,0.02675,0.01600,0.04200,0.02800,0.03725,...,0.06675,0.01300,0.01275,0.02275,0.20000,0.10750,0.02500,0.00950,0.07550,0.01625
131168,0.05975,0.10375,0.17850,0.14875,0.27750,0.16250,0.04125,0.25475,0.06900,0.15375,...,0.20300,0.16325,0.81025,0.01900,0.18175,0.03225,0.04800,0.51925,0.06700,0.01725
131170,0.05325,0.08625,0.01700,0.02650,0.15700,0.09350,0.08550,0.34700,0.14175,0.03050,...,0.02000,0.02400,0.01500,0.04450,0.64375,0.58775,0.01075,0.01575,0.11450,0.02175

In [27]:
ml20m.tag_genome = ml20m.tag_genome.reset_index(drop=True)

tag,007,007 (series),18th century,1920s,1930s,1950s,1960s,1970s,1980s,19th century,...,world politics,world war i,world war ii,writer's life,writers,writing,wuxia,wwii,zombie,zombies
0,0.02500,0.02500,0.05775,0.09675,0.14675,0.21700,0.06700,0.26275,0.26200,0.03200,...,0.03950,0.01800,0.04575,0.03275,0.12500,0.04150,0.01925,0.03625,0.07775,0.02300
1,0.03975,0.04375,0.03775,0.04800,0.11025,0.07250,0.04775,0.10975,0.09925,0.02050,...,0.04175,0.01925,0.01725,0.02425,0.12550,0.02250,0.01550,0.01475,0.09025,0.01875
2,0.04350,0.05475,0.02800,0.07700,0.05400,0.06850,0.05600,0.18500,0.04925,0.02675,...,0.04150,0.02675,0.02775,0.03425,0.15550,0.03675,0.01700,0.01950,0.09700,0.01850
3,0.03725,0.03950,0.03675,0.03100,0.06825,0.04050,0.02325,0.08700,0.05125,0.03025,...,0.05750,0.03375,0.02275,0.03975,0.18525,0.05925,0.01500,0.01525,0.06450,0.01300
4,0.04200,0.05275,0.05925,0.03675,0.07525,0.12525,0.02850,0.08500,0.02950,0.02875,...,0.04250,0.02825,0.02150,0.02600,0.14275,0.02075,0.01650,0.01675,0.10750,0.01825
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10376,0.15400,0.04025,0.01975,0.01850,0.02850,0.02275,0.01000,0.03675,0.01025,0.01575,...,0.02875,0.01125,0.01250,0.02050,0.21000,0.02375,0.04225,0.00525,0.07575,0.01325
10377,0.02400,0.03025,0.02425,0.09375,0.05600,0.06025,0.02100,0.12900,0.11275,0.03650,...,0.02125,0.04250,0.01025,0.20350,0.47675,0.10775,0.06200,0.00775,0.27000,0.13375
10378,0.04200,0.03175,0.01700,0.05600,0.05750,0.02675,0.01600,0.04200,0.02800,0.03725,...,0.06675,0.01300,0.01275,0.02275,0.20000,0.10750,0.02500,0.00950,0.07550,0.01625
10379,0.05975,0.10375,0.17850,0.14875,0.27750,0.16250,0.04125,0.25475,0.06900,0.15375,...,0.20300,0.16325,0.81025,0.01900,0.18175,0.03225,0.04800,0.51925,0.06700,0.01725
10380,0.05325,0.08625,0.01700,0.02650,0.15700,0.09350,0.08550,0.34700,0.14175,0.03050,...,0.02000,0.02400,0.01500,0.04450,0.64375,0.58775,0.01075,0.01575,0.11450,0.02175